/* Nav bar code */

body {
	margin: 42px 42px 0 42px;
	transition: margin-top 400ms;
}

h1 {
	/*font-size: 72px;*/
	font-size: 2em;
}

.bigger {
	font-size: 2em;
}

section {
	min-height: 600px;
	/* height: 100vh; */
	/*border: 1px solid black;*/
	padding-top: 42px;
	margin-top: -42px;
}

nav {
	background: pink;
	text-align: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

nav ul {
	margin: 0;
}

nav li {
	display: inline-block;
	/*border: 1px solid black;*/
	padding: 3px;
	margin: 10px;
}

nav li a {
	text-decoration: none;
}

#menu-button {
	position: fixed;
	top: 0;
	right: 0;
	display: none;
	border: none;
	background: transparent;
	font-size: 28px;
	cursor: pointer;
}

#about .row div {
	border: 1px solid black;
	/* TODO remove this later */
	height: 200px;
}

#resume .row div {
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-responsive {
	width: 100%;
}

/* Mobile-only styles here */
@media (max-width: 768px) {
	#menu-button {
		display: block;
	}

	nav {
		display: none;
	}

	nav li {
		display: block;
	}

	.move-down {
		margin-top: 138px;
	}

	.move-down section {
		padding-top: 138px;
		margin-top: -138px;
	}
}